In [1]:
import pandas as pd

In [2]:
temps = {'Mon':[68, 89], 'Tue':[71, 93], 'Wed':[66, 82], 'Thu':[75, 97], 'Fr':[62, 79]}
temperatures = pd.DataFrame(temps, index=['Low', 'High'])
print(temperatures)

      Mon  Tue  Wed  Thu  Fr
Low    68   71   66   75  62
High   89   93   82   97  79

In [3]:
selected_columns = temperatures[['Mon', 'Tue', 'Wed']]
print(selected_columns)

      Mon  Tue  Wed
Low    68   71   66
High   89   93   82

In [4]:
low_temperatures = temperatures.loc['Low']
print(low_temperatures)

Mon    68
Tue    71
Wed    66
Thu    75
Fr     62
Name: Low, dtype: int64

In [5]:
pd.options.display.float_format = "{:.2f}".format
average_temperatures = temperatures.mean()
print(average_temperatures)

Mon   78.50
Tue   82.00
Wed   74.00
Thu   86.00
Fr    70.50
dtype: float64

In [6]:
temperatures

      Mon  Tue  Wed  Thu  Fr
Low    68   71   66   75  62
High   89   93   82   97  79

In [7]:
average_low = temperatures.loc['Low'].mean()
average_high = temperatures.loc['High'].mean()
print(f"Average Low Temperature: {average_low:.2f}")
print(f"Average High Temperature: {average_high:.2f}")

Average Low Temperature: 68.40
Average High Temperature: 88.00

### Average temp for Wed to Fri

In [8]:
pd.options.display.float_format = "{:.1f}".format
wed_to_fri = temperatures.loc[:,'Wed':'Fr']
average_temps = wed_to_fri.mean(axis=1).round(1)
average_temps

Low    67.7
High   86.0
dtype: float64

### Calculate the median high temperatures

In [9]:
temperatures.loc['High'].median()

np.float64(89.0)

### Use the column names to select only the columns for ‘Friday’ only

In [10]:
temperatures['Fr']

Low     62
High    79
Name: Fr, dtype: int64

### Use the row at index number 4 to select only the low temperatures for each day.

In [11]:
temperatures

      Mon  Tue  Wed  Thu  Fr
Low    68   71   66   75  62
High   89   93   82   97  79

In [12]:
low_temps = temperatures.iloc[0]

In [13]:
low_temps

Mon    68
Tue    71
Wed    66
Thu    75
Fr     62
Name: Low, dtype: int64